/*===============================================================
                        SASS Deafults
=================================================================*/
$colors: (main: red, secondary: #fff, backgrounds: #848484, items: #35788e);
$sun-icon: rgb(204, 243, 255);
$height: 25px;
$bottom-font-color: #242c35;
$dimension: 200px;

